# Enable URL rewriting
RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^\.]+)$ $1.php [L]



# RewriteEngine On
# RewriteRule ^admin/(.*)$ /secureAdminPanel/$1 [R=301,L]

# ErrorDocument 404 /404.php

# RewriteEngine On
# RewriteRule ^robots\.txt$ /robots.php [L]